@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

a {
  text-decoration: none;
}

.left-header,
.right-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bg-primary {
  background-color: #1f2937;
}

.bg-secodary {
  background-color: #e5e7eb;
}

.text-primary {
  color: #1f2937;
}

.text-secondary {
  color: #e5e7eb;
}

.text-white {
  color: #f9faf8;
}

.text-center {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;

  max-width: 64rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.col {
  width: 100%;
}

.header {
  border-bottom: 1px solid #1f2937;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.links {
  font-size: 1.125rem;
}

.hero {
  padding: 5rem 0;
}

.hero-title {
  font-size: 3rem;
  font-weight: 900;
}

.hero-subtitle {
  font-size: 1.125rem;
}

.hero-image {
  width: 100%;
}

.section-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 6rem 6rem;
}

.section-info .row {
  gap: 1rem;
}

.section-info .col {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-info img {
  max-width: 11rem;
  max-height: 11rem;
  width: 100%;
  height: 100%;
  border: solid 2px #3882F6;
  border-radius: .5rem;
}
.section-info .text-center {
  padding: 0 .575rem;
}

.section-info .title {
  font-size: 2.25rem;
  font-weight: 900;
}

.quote-section {
  margin: 7rem auto 5.5rem;
  padding: 0 7rem;
}

.quote-content {
  font-size: 2.25rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.2;
}

.quote-quoted {
  text-align: right;
  font-size: 1.375rem;
  font-weight: 700;
  padding-right: 2.5rem;
}

.footer {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}